In [56]:
!pip install IMDbPY
import pandas as pd
import numpy as np
import re
import ast
from importlib import reload  
from inspect import getmembers, isfunction
import Wikipedia_Scrape as wiki_scrape
import IMDB_Scrape as IMDB
reload(wiki_scrape)
reload(IMDB)

Requirement already satisfied: IMDbPY in c:\users\haedm\anaconda3\lib\site-packages (2021.4.18)
Requirement already satisfied: SQLAlchemy in c:\users\haedm\anaconda3\lib\site-packages (from IMDbPY) (1.2.7)
Requirement already satisfied: lxml in c:\users\haedm\anaconda3\lib\site-packages (from IMDbPY) (4.2.1)
Importing Packages...

WARNING: You are using pip version 21.0; however, version 21.1.1 is available.
You should consider upgrading via the 'c:\users\haedm\anaconda3\python.exe -m pip install --upgrade pip' command.

In [9]:
df = pd.read_csv(r'C:\Users\haedm\Downloads\Movies.csv')
df = df[['Date Seen', 'Title', 'Zach Rating', 'Hayley Rating', 'Release']]

In [11]:
new_df = wiki_scrape.scrape_wiki(df)

Big Hero 6 - 2014
https://en.wikipedia.org/wiki/Big_Hero_6_(film)

Bombshell - 2019
https://en.wikipedia.org/wiki/Bombshell_(2019_film)

The Farewell - 2019
https://en.wikipedia.org/wiki/The_Farewell_(2019_film)

The Grand Budapest Hotel - 2014
https://en.wikipedia.org/wiki/The_Grand_Budapest_Hotel

Jumanji: The Next Level - 2019
https://en.wikipedia.org/wiki/Jumanji:_The_Next_Level

Uncut Gems - 2019
https://en.wikipedia.org/wiki/Uncut_Gems

Zootopia - 2016
https://en.wikipedia.org/wiki/Zootopia

Marriage Story - 2019
https://en.wikipedia.org/wiki/Marriage_Story

Underwater - 2020
https://en.wikipedia.org/wiki/Underwater_(film)

Parasite - 2019
https://en.wikipedia.org/wiki/Parasite_(2019_film)

1917 - 2019
https://en.wikipedia.org/wiki/1917_(2019_film)

Weathering with You - 2019
https://en.wikipedia.org/wiki/Weathering_with_You

The Gentlemen - 2020
https://en.wikipedia.org/wiki/The_Gentlemen_(2019_film)

The Rhythm Section - 2020
https://en.wikipedia.org/wiki/The_Rhythm_Section

Birds of Prey - 2020
https://en.wikipedia.org/wiki/Birds_of_Prey_(2020_film)

Toy Story 4 - 2019
https://en.wikipedia.org/wiki/Toy_Story_4

Midsommar - 2019
https://en.wikipedia.org/wiki/Midsommar

Sonic the Hedgehog - 2020
https://en.wikipedia.org/wiki/Sonic_the_Hedgehog_(film)

Fantasy Island - 2020
https://en.wikipedia.org/wiki/Fantasy_Island_(film)

Luce - 2019
https://en.wikipedia.org/wiki/Luce_(film)

Call of the Wild - 2020
https://en.wikipedia.org/wiki/The_Call_of_the_Wild_(2020_film)

Downhill - 2020
https://en.wikipedia.org/wiki/Downhill_(2020_film)

The Invisible Man - 2020
https://en.wikipedia.org/wiki/The_Invisible_Man_(2020_film)

Hot Rod - 2007
https://en.wikipedia.org/wiki/Hot_Rod_(2007_film)

Drive - 2011
https://en.wikipedia.org/wiki/Drive_(2011_film)

The Lodge - 2020
https://en.wikipedia.org/wiki/The_Lodge_(film)

Onward - 2020
https://en.wikipedia.org/wiki/Onward_(film)

Emma - 2020
https://en.wikipedia.org/wiki/Emma_(2020_film)

Portrait of a Lady on Fire - 2019
https://en.wikipedia.org/wiki/Portrait_of_a_Lady_on_Fire

The Hunt - 2020
https://en.wikipedia.org/wiki/The_Hunt_(2020_film)

Fight Club - 1999
https://en.wikipedia.org/wiki/Fight_Club

Long Shot - 2019
https://en.wikipedia.org/wiki/Long_Shot_(2019_film)

I Still Believe - 2020
https://en.wikipedia.org/wiki/I_Still_Believe_(film)

Star Wars IV: A New Hope - 1977
https://en.wikipedia.org/wiki/Star_Wars_(film)

Clue - 1985
https://en.wikipedia.org/wiki/Clue_(film)

Groundhog Day - 1993
https://en.wikipedia.org/wiki/Groundhog_Day_(film)

Inception - 2010
https://en.wikipedia.org/wiki/Inception

Blade Runner - 1982
https://en.wikipedia.org/wiki/Blade_Runner

Free Solo - 2018
https://en.wikipedia.org/wiki/Free_Solo

Father of the Bride - 1991
https://en.wikipedia.org/wiki/Father_of_the_Bride_(1991_film)

The Platform - 2020
https://en.wikipedia.org/wiki/The_Platform_(film)

Devil Wears Prada - 2006
https://en.wikipedia.org/wiki/The_Devil_Wears_Prada_(film)

Wall-E - 2008
https://en.wikipedia.org/wiki/WALL-E

Rosemary's Baby - 1968
https://en.wikipedia.org/wiki/Rosemary%27s_Baby_(film)

No Crying at the Dinner Table - 2020
https://en.wikipedia.org/wiki/No_Crying_at_the_Dinner_Table

Treasure Planet - 2002
https://en.wikipedia.org/wiki/Treasure_Planet

My Darling Vivian - 2020
https://en.wikipedia.org/wiki/My_Darling_Vivian

Le Choc du Futur - 2020
https://en.wikipedia.org/wiki/Le_choc

Snowpiercer - 2013
https://en.wikipedia.org/wiki/Snowpiercer

Togo - 2019
https://en.wikipedia.org/wiki/Togo_(film)

Cruel Intentions - 1999
https://en.wikipedia.org/wiki/Cruel_Intentions

The Invisible - 2007
https://en.wikipedia.org/wiki/The_Invisible_(2007_film)

Gravity - 2013
https://en.wikipedia.org/wiki/Gravity_(2013_film)

School of Rock - 2003
https://en.wikipedia.org/wiki/School_of_Rock

The Help - 2011
https://en.wikipedia.org/wiki/The_Help_(film)

Ready or Not - 2019
https://en.wikipedia.org/wiki/Ready_or_Not_(2019_film)

Red Eye - 2005
https://en.wikipedia.org/wiki/Red_Eye_(2005_American_film)

The Joker - 2019
https://en.wikipedia.org/wiki/Joker_(2019_film)

The Hunger Games - 2012
https://en.wikipedia.org/wiki/The_Hunger_Games_(film)

Twister - 1996
https://en.wikipedia.org/wiki/Twister_(1996_film)

The Hundred-Foot Journey - 2014
https://en.wikipedia.org/wiki/The_Hundred-Foot_Journey_(film)

The Hunger Games: Catching Fire - 2013
https://en.wikipedia.org/wiki/The_Hunger_Games:_Catching_Fire

The Hunger Games: Mockingjay Part 1 - 2014
https://en.wikipedia.org/wiki/The_Hunger_Games:_Mockingjay_%E2%80%93_Part_2

Psycho - 1960
https://en.wikipedia.org/wiki/Psycho_(1960_film)

Baby Mama - 2008
https://en.wikipedia.org/wiki/Baby_Mama_(film)

The Court Jester - 1956
https://en.wikipedia.org/wiki/The_Court_Jester

Ghostbusters - 1984
https://en.wikipedia.org/wiki/Ghostbusters

Short Term 12 - 2013
https://en.wikipedia.org/wiki/Short_Term_12

Hamilton - 2020
https://en.wikipedia.org/wiki/Hamilton_(2020_film)

Eurovision Song Contest: The Story of Fire Saga - 2020
https://en.wikipedia.org/wiki/Eurovision_Song_Contest:_The_Story_of_Fire_Saga

Horrible Bosses - 2011
https://en.wikipedia.org/wiki/Horrible_Bosses

Palm Springs - 2020
https://en.wikipedia.org/wiki/Palm_Springs_(2020_film)

Ratatouille - 2007
https://en.wikipedia.org/wiki/Ratatouille_(film)

The Biggest Little Farm - 2019
https://en.wikipedia.org/wiki/The_Biggest_Little_Farm

Bohemian Rhapsody - 2018
https://en.wikipedia.org/wiki/Bohemian_Rhapsody_(film)

Pride & Prejudice - 2005
https://en.wikipedia.org/wiki/Pride_%26_Prejudice_(2005_film)

The Old Guard - 2020
https://en.wikipedia.org/wiki/The_Old_Guard_(2020_film)

Athlete A - 2020
https://en.wikipedia.org/wiki/Athlete_A

It (Chapter 1) - 2017
https://en.wikipedia.org/wiki/It_(2017_film)

It: Chapter 2 - 2019
https://en.wikipedia.org/wiki/It_Chapter_Two

Airplane! - 1980
https://en.wikipedia.org/wiki/Airplane!

Blackfish - 2013
https://en.wikipedia.org/wiki/Blackfish_(film)

The Wrong Missy - 2020
https://en.wikipedia.org/wiki/The_Wrong_Missy

Batman Begins - 2005
https://en.wikipedia.org/wiki/Batman_Begins

The Dark Knight - 2008
https://en.wikipedia.org/wiki/The_Dark_Knight_(film)

Pitch Perfect - 2012
https://en.wikipedia.org/wiki/Pitch_Perfect

The Dark Knight Rises - 2012
https://en.wikipedia.org/wiki/The_Dark_Knight_Rises

Knock Down the House - 2019
https://en.wikipedia.org/wiki/Knock_Down_the_House

Eighth Grade - 2018
https://en.wikipedia.org/wiki/Eighth_Grade_(film)

Gone Girl - 2014
https://en.wikipedia.org/wiki/Gone_Girl_(film)

Tenet - 2020
https://en.wikipedia.org/wiki/Tenet_(film)

The Social Dilemma - 2020
https://en.wikipedia.org/wiki/The_Social_Dilemma

The Postcard Killings - 2020
https://en.wikipedia.org/wiki/The_Postcard_Killings

Anastasia - 1997
https://en.wikipedia.org/wiki/Anastasia_(1997_film)

Class Action Park - 2020
https://en.wikipedia.org/wiki/Class_Action_Park

Scott Pilgrim vs The World - 2010
https://en.wikipedia.org/wiki/Scott_Pilgrim_vs._the_World

The Impossible - 2012
https://en.wikipedia.org/wiki/The_Impossible_(2012_film)

Enola Holmes - 2020
https://en.wikipedia.org/wiki/Enola_Holmes_(film)

Forgetting Sarah Marshall - 2008
https://en.wikipedia.org/wiki/Forgetting_Sarah_Marshall

A Simple Favor - 2018
https://en.wikipedia.org/wiki/A_Simple_Favor_(film)

Bumblebee - 2018
https://en.wikipedia.org/wiki/Bumblebee_(film)

Cabin in the Woods - 2012
https://en.wikipedia.org/wiki/The_Cabin_in_the_Woods

American Murder: The Family Next Door - 2020
https://en.wikipedia.org/wiki/American_Murder:_The_Family_Next_Door

The Trial of the Chicago 7 - 2020
https://en.wikipedia.org/wiki/The_Trial_of_the_Chicago_7

Fighting with my Family - 2019
https://en.wikipedia.org/wiki/Fighting_with_My_Family

The Devil All the Time - 2020
https://en.wikipedia.org/wiki/The_Devil_All_the_Time_(film)

Knives Out - 2019
https://en.wikipedia.org/wiki/Knives_Out

Hocus Pocus - 1993
https://en.wikipedia.org/wiki/Hocus_Pocus_(1993_film)

Hush - 2016
https://en.wikipedia.org/wiki/Hush_(2016_film)

Spiderman: Into the Spiderverse - 2018
https://en.wikipedia.org/wiki/Venom_(2018_film)

Clouds - 2020
https://en.wikipedia.org/wiki/Clouds_(2020_film)

Interstellar - 2014
https://en.wikipedia.org/wiki/Interstellar_(film)

The Parent Trap - 1998
https://en.wikipedia.org/wiki/The_Parent_Trap_(1998_film)

The Lie - 2018
https://en.wikipedia.org/wiki/The_Lie_(2018_film)

Stranger Than Fiction. - 2006
https://en.wikipedia.org/wiki/Stranger_than_Fiction_(2006_film)

Professor Marston and the Wonder Woman - 2017
https://en.wikipedia.org/wiki/Professor_Marston_and_the_Wonder_Women

Safety Not Guaranteed - 2012
https://en.wikipedia.org/wiki/Safety_Not_Guaranteed

Spirited Away - 2001
https://en.wikipedia.org/wiki/Spirited_Away

Easy A - 2010
https://en.wikipedia.org/wiki/Easy_A

Klaus - 2019
https://en.wikipedia.org/wiki/Klaus_(film)

The Family Stone - 2005
https://en.wikipedia.org/wiki/The_Family_Stone

Happiest Season - 2020
https://en.wikipedia.org/wiki/Happiest_Season

Die Hard - 1988
https://en.wikipedia.org/wiki/Die_Hard

Best in Show - 2000
https://en.wikipedia.org/wiki/Best_in_Show_(film)

Instant Family - 2018
https://en.wikipedia.org/wiki/Instant_Family

Jingle All the Way - 1996
https://en.wikipedia.org/wiki/Jingle_All_the_Way

Along Came a Spider - 2001
https://en.wikipedia.org/wiki/Along_Came_a_Spider_(film)

The Knight Before Christmas - 2019
https://en.wikipedia.org/wiki/The_Knight_Before_Christmas

The Killing of a Sacred Deer - 2017
https://en.wikipedia.org/wiki/The_Killing_of_a_Sacred_Deer

High-Rise - 2016
https://en.wikipedia.org/wiki/High-Rise_(film)

Wonder Woman 1984 - 2020
https://en.wikipedia.org/wiki/Wonder_Woman_1984

Soul - 2020
https://en.wikipedia.org/wiki/Soul_(2020_film)

Rise of the Guardians - 2012
https://en.wikipedia.org/wiki/Rise_of_the_Guardians

Moana - 2016
https://en.wikipedia.org/wiki/Moana_(2016_film)

Vivarium - 2019
https://en.wikipedia.org/wiki/Vivarium_(film)

The Incredibles - 2004
https://en.wikipedia.org/wiki/The_Incredibles

The Boy Who Harnessed the Wind - 2019
https://en.wikipedia.org/wiki/The_Boy_Who_Harnessed_the_Wind

Molly's Game - 2017
https://en.wikipedia.org/wiki/Molly%27s_Game

Pieces of a Woman - 2020
https://en.wikipedia.org/wiki/Pieces_of_a_Woman

Save Yourselves! - 2020
https://en.wikipedia.org/wiki/Save_Yourselves!

Chef - 2014
https://en.wikipedia.org/wiki/Chef_(2014_film)

Jojo Rabbit - 2019
https://en.wikipedia.org/wiki/Jojo_Rabbit

I, Tonya - 2017
https://en.wikipedia.org/wiki/I,_Tonya

Thor Ragnarok - 2017
https://en.wikipedia.org/wiki/Thor:_Ragnarok

Oceans 8 - 2018
https://en.wikipedia.org/wiki/Ocean%27s_8

Cats - 2019
https://en.wikipedia.org/wiki/Cats_(2019_film)

Trolls - 2016
https://en.wikipedia.org/wiki/Trolls_(film)

Trolls: World Tour - 2020
https://en.wikipedia.org/wiki/Trolls_World_Tour

Into the Woods - 2014
https://en.wikipedia.org/wiki/Into_the_Woods_(film)

Little Woods - 2019
https://en.wikipedia.org/wiki/Little_Woods

The Little Mermaid - 1989
https://en.wikipedia.org/wiki/The_Little_Mermaid_(1989_film)

The Little Mermaid II: Return to the Sea - 2000
https://en.wikipedia.org/wiki/The_Little_Mermaid_II:_Return_to_the_Sea

Ice Age - 2002
https://en.wikipedia.org/wiki/Ice_Age_(2002_film)

Tropic Thunder - 2008
https://en.wikipedia.org/wiki/Tropic_Thunder

The Secret Life of Walter Mitty - 2013
https://en.wikipedia.org/wiki/The_Secret_Life_of_Walter_Mitty_(2013_film)

MacGruber - 2010
https://en.wikipedia.org/wiki/MacGruber_(film)

Anchorman - 2004
https://en.wikipedia.org/wiki/Anchorman_(film_series)

Spiderman: Into the Spiderverse - 2018
https://en.wikipedia.org/wiki/Venom_(2018_film)

Minari - 2021
https://en.wikipedia.org/wiki/Minari_(film)

Wendy - 2020
https://en.wikipedia.org/wiki/Peter_and_Wendy

Crazy Stupid Love - 2011
https://en.wikipedia.org/wiki/Crazy,_Stupid,_Love

Beasts of the Southern Wild - 2021
https://en.wikipedia.org/wiki/Beasts_of_the_Southern_Wild

Chaos Walking - 2021
https://en.wikipedia.org/wiki/Chaos_Walking_(film)

Rear Window - 1954
https://en.wikipedia.org/wiki/Rear_Window

Big Hero 6 - 2014
https://en.wikipedia.org/wiki/Big_Hero_6_(film)

Baby Driver  - 2017
https://en.wikipedia.org/wiki/Baby_Driver

Captain Fantastic - 2016
https://en.wikipedia.org/wiki/Captain_Fantastic_(film)

The Nice Guys - 2016
https://en.wikipedia.org/wiki/The_Nice_Guys

Sound of Metal - 2020
https://en.wikipedia.org/wiki/Sound_of_Metal

Young Adult - 2011
https://en.wikipedia.org/wiki/Young_Adult_(film)

Captain America: The First Avenger - 2011
https://en.wikipedia.org/wiki/Captain_America:_The_First_Avenger

Captain Marvel - 2019
https://en.wikipedia.org/wiki/Captain_Marvel_(film)

Iron Man  - 2008
https://en.wikipedia.org/wiki/Iron_Man_(2008_film)

Invisible Man  - 2020
https://en.wikipedia.org/wiki/The_Invisible_Man_(2020_film)

Iron Man 2 - 2010
https://en.wikipedia.org/wiki/Iron_Man_2

Thor - 2011
https://en.wikipedia.org/wiki/Thor_(film)

Marvel's The Avengers - 2012
https://en.wikipedia.org/wiki/The_Avengers_(2012_film)

Split - 2017
https://en.wikipedia.org/wiki/Split_(2016_American_film)

My Best Friend's Wedding - 1997
https://en.wikipedia.org/wiki/My_Best_Friend%27s_Wedding

Thor: The Dark World - 2013
https://en.wikipedia.org/wiki/Thor:_The_Dark_World

Iron Man 3 - 2013
https://en.wikipedia.org/wiki/Iron_Man_3

Captain America: Winter Soldier  - 2014
https://en.wikipedia.org/wiki/Captain_America:_The_Winter_Soldier

Guardians of the Galaxy - 2014
https://en.wikipedia.org/wiki/Guardians_of_the_Galaxy_(film)

Guardians of the Galaxy: Vol 2 - 2017
https://en.wikipedia.org/wiki/Guardians_of_the_Galaxy_Vol._2

Stowaway - 2021
https://en.wikipedia.org/wiki/Stowaway_(2021_film)

Ant-Man - 2015
https://en.wikipedia.org/wiki/Ant-Man_(film)

Spiderman: Homecoming - 2017
https://en.wikipedia.org/wiki/Spider-Man:_Homecoming

Cloud Atlas - 2012
https://en.wikipedia.org/wiki/Cloud_Atlas_(film)

The Mitchell's vs the Machines - 2021
https://en.wikipedia.org/wiki/The_Mitchells_vs._the_Machines

Black Panther - 2018
https://en.wikipedia.org/wiki/Black_Panther_(film)

Doctor Strange - 2016
https://en.wikipedia.org/wiki/Doctor_Strange_(2016_film)

Zathura - 2005
https://en.wikipedia.org/wiki/Zathura:_A_Space_Adventure

Thor Ragnarok - 2017
https://en.wikipedia.org/wiki/Thor:_Ragnarok

Ant-Man and the Wasp - 2018
https://en.wikipedia.org/wiki/Ant-Man_and_the_Wasp

Avengers: Infinity Wars - 2018
https://en.wikipedia.org/wiki/Avengers:_Infinity_War

Avengers: End Game - 2019
https://en.wikipedia.org/wiki/Avengers:_Endgame

In [57]:
new_df_2 = IMDB.scrape_IMDB(new_df)

Big Hero 6 - 2014
https://www.imdb.com/title/tt2245084/

Big Hero 6 - 2014
https://www.imdb.com/title/tt2245084/

Big Hero 6 - 2014
https://www.imdb.com/title/tt2245084/

Big Hero 6 - 2014
https://www.imdb.com/title/tt2245084/

Bombshell - 2019
https://www.imdb.com/title/tt6394270/

The Farewell - 2019
https://www.imdb.com/title/tt8637428/

The Grand Budapest Hotel - 2014
https://www.imdb.com/title/tt2278388/

Jumanji: The Next Level - 2019
https://www.imdb.com/title/tt7975244/

Uncut Gems - 2019
https://www.imdb.com/title/tt5727208/

Zootopia - 2016
https://www.imdb.com/title/tt2948356/

Marriage Story - 2019
https://www.imdb.com/title/tt7653254/

Underwater - 2020
https://www.imdb.com/title/tt5774060/

Parasite - 2019
https://www.imdb.com/title/tt6751668/

1917 - 2019
https://www.imdb.com/title/tt8579674/

Weathering with You - 2019
https://www.imdb.com/title/tt9426210/

The Gentlemen - 2020
https://www.imdb.com/title/tt0045810/

The Rhythm Section - 2020
https://www.imdb.com/title/tt7134096/

Birds of Prey - 2020
https://www.imdb.com/title/tt7713068/

Toy Story 4 - 2019
https://www.imdb.com/title/tt1979376/

Midsommar - 2019
https://www.imdb.com/title/tt8772262/

Sonic the Hedgehog - 2020
https://www.imdb.com/title/tt3794354/

Fantasy Island - 2020
https://www.imdb.com/title/tt0983946/

Luce - 2019
https://www.imdb.com/title/tt7616148/

Call of the Wild - 2020
https://www.imdb.com/title/tt7504726/

Downhill - 2020
https://www.imdb.com/title/tt4558376/

The Invisible Man - 2020
https://www.imdb.com/title/tt1051906/

Hot Rod - 2007
https://www.imdb.com/title/tt0787475/

Drive - 2011
https://www.imdb.com/title/tt0780504/

The Lodge - 2020
https://www.imdb.com/title/tt11422136/

Onward - 2020
https://www.imdb.com/title/tt7146812/

Emma - 2020
https://www.imdb.com/title/tt9214832/

Portrait of a Lady on Fire - 2019
https://www.imdb.com/title/tt8613070/

The Hunt - 2020
https://www.imdb.com/title/tt8244784/

Fight Club - 1999
https://www.imdb.com/title/tt0137523/

Long Shot - 2019
https://www.imdb.com/title/tt2139881/

I Still Believe - 2020
https://www.imdb.com/title/tt9779516/

Star Wars IV: A New Hope - 1977
https://www.imdb.com/title/tt0076759/

Clue - 1985
https://www.imdb.com/title/tt0088930/

Groundhog Day - 1993
https://www.imdb.com/title/tt0107048/

Inception - 2010
https://www.imdb.com/title/tt1375666/

Blade Runner - 1982
https://www.imdb.com/title/tt0083658/

Free Solo - 2018
https://www.imdb.com/title/tt7775622/

Father of the Bride - 1991
https://www.imdb.com/title/tt0101862/

The Platform - 2020
https://www.imdb.com/title/tt12988100/

Devil Wears Prada - 2006
https://www.imdb.com/title/tt0458352/

Wall-E - 2008
https://www.imdb.com/title/tt0910970/

Rosemary's Baby - 1968
https://www.imdb.com/title/tt0063522/

No Crying at the Dinner Table - 2020
https://www.imdb.com/title/tt10413396/

Treasure Planet - 2002
https://www.imdb.com/title/tt0133240/

My Darling Vivian - 2020
https://www.imdb.com/title/tt7432980/

Le Choc du Futur - 2020
https://www.imdb.com/title/tt8081326/

Snowpiercer - 2013
https://www.imdb.com/title/tt1706620/

Togo - 2019
https://www.imdb.com/title/tt5116302/

Cruel Intentions - 1999
https://www.imdb.com/title/tt0139134/

The Invisible - 2007
https://www.imdb.com/title/tt0435670/

Gravity - 2013
https://www.imdb.com/title/tt1454468/

School of Rock - 2003
https://www.imdb.com/title/tt0332379/

The Help - 2011
https://www.imdb.com/title/tt1454029/

Ready or Not - 2019
https://www.imdb.com/title/tt7798634/

Red Eye - 2005
https://www.imdb.com/title/tt0421239/

The Joker - 2019
https://www.imdb.com/title/tt7286456/

The Hunger Games - 2012
https://www.imdb.com/title/tt1392170/

Twister - 1996
https://www.imdb.com/title/tt0117998/

The Hundred-Foot Journey - 2014
https://www.imdb.com/title/tt2980648/

The Hunger Games: Catching Fire - 2013
https://www.imdb.com/title/tt1951264/

The Hunger Games: Mockingjay Part 1 - 2014
https://www.imdb.com/title/tt1951265/

Psycho - 1960
https://www.imdb.com/title/tt0054215/

Baby Mama - 2008
https://www.imdb.com/title/tt0871426/

The Court Jester - 1956
https://www.imdb.com/title/tt5428306/

Ghostbusters - 1984
https://www.imdb.com/title/tt0087332/

Short Term 12 - 2013
https://www.imdb.com/title/tt2370248/

Hamilton - 2020
https://www.imdb.com/title/tt8503618/

Eurovision Song Contest: The Story of Fire Saga - 2020
https://www.imdb.com/title/tt8580274/

Horrible Bosses - 2011
https://www.imdb.com/title/tt1499658/

Palm Springs - 2020
https://www.imdb.com/title/tt9484998/

Ratatouille - 2007
https://www.imdb.com/title/tt0382932/

The Biggest Little Farm - 2019
https://www.imdb.com/title/tt5657462/

Bohemian Rhapsody - 2018
https://www.imdb.com/title/tt1727824/

Pride & Prejudice - 2005
https://www.imdb.com/title/tt0414387/

The Old Guard - 2020
https://www.imdb.com/title/tt7556122/

Athlete A - 2020
https://www.imdb.com/title/tt11905462/

It (Chapter 1) - 2017
https://www.imdb.com/title/tt0299283/

It: Chapter 2 - 2019
https://www.imdb.com/title/tt7349950/

Airplane! - 1980
https://www.imdb.com/title/tt0080339/

Blackfish - 2013
https://www.imdb.com/title/tt2545118/

The Wrong Missy - 2020
https://www.imdb.com/title/tt9619798/

Batman Begins - 2005
https://www.imdb.com/title/tt0372784/

The Dark Knight - 2008
https://www.imdb.com/title/tt0468569/

Pitch Perfect - 2012
https://www.imdb.com/title/tt1981677/

The Dark Knight Rises - 2012
https://www.imdb.com/title/tt1345836/

Knock Down the House - 2019
https://www.imdb.com/title/tt9358052/

Eighth Grade - 2018
https://www.imdb.com/title/tt7014006/

Gone Girl - 2014
https://www.imdb.com/title/tt2267998/

Tenet - 2020
https://www.imdb.com/title/tt6723592/

The Social Dilemma - 2020
https://www.imdb.com/title/tt11464826/

The Postcard Killings - 2020
https://www.imdb.com/title/tt4106514/

Anastasia - 1997
https://www.imdb.com/title/tt0118617/

Class Action Park - 2020
https://www.imdb.com/title/tt11015214/

Scott Pilgrim vs The World - 2010
https://www.imdb.com/title/tt0446029/

The Impossible - 2012
https://www.imdb.com/title/tt1649419/

Enola Holmes - 2020
https://www.imdb.com/title/tt7846844/

Forgetting Sarah Marshall - 2008
https://www.imdb.com/title/tt0800039/

A Simple Favor - 2018
https://www.imdb.com/title/tt7040874/

Bumblebee - 2018
https://www.imdb.com/title/tt4701182/

Cabin in the Woods - 2012
https://www.imdb.com/title/tt5832054/

American Murder: The Family Next Door - 2020
https://www.imdb.com/title/tt12987894/

The Trial of the Chicago 7 - 2020
https://www.imdb.com/title/tt1070874/

Fighting with my Family - 2019
https://www.imdb.com/title/tt6513120/

The Devil All the Time - 2020
https://www.imdb.com/title/tt7395114/

Knives Out - 2019
https://www.imdb.com/title/tt8946378/

Hocus Pocus - 1993
https://www.imdb.com/title/tt0107120/

Hush - 2016
https://www.imdb.com/title/tt5022702/

Spiderman: Into the Spiderverse - 2018
https://www.imdb.com/title/tt4633694/

Spiderman: Into the Spiderverse - 2018
https://www.imdb.com/title/tt4633694/

Spiderman: Into the Spiderverse - 2018
https://www.imdb.com/title/tt4633694/

Spiderman: Into the Spiderverse - 2018
https://www.imdb.com/title/tt4633694/

Clouds - 2020
https://www.imdb.com/title/tt6473066/

Interstellar - 2014
https://www.imdb.com/title/tt0816692/

The Parent Trap - 1998
https://www.imdb.com/title/tt0120783/

The Lie - 2018
https://www.imdb.com/title/tt7945440/

Stranger Than Fiction. - 2006
https://www.imdb.com/title/tt0420223/

Professor Marston and the Wonder Woman - 2017
https://www.imdb.com/title/tt6133130/

Safety Not Guaranteed - 2012
https://www.imdb.com/title/tt1862079/

Spirited Away - 2001
https://www.imdb.com/title/tt0245429/

Klaus - 2019
https://www.imdb.com/title/tt4729430/

The Family Stone - 2005
https://www.imdb.com/title/tt0356680/

Happiest Season - 2020
https://www.imdb.com/title/tt8522006/

Die Hard - 1988
https://www.imdb.com/title/tt0095016/

Best in Show - 2000
https://www.imdb.com/title/tt0218839/

Instant Family - 2018
https://www.imdb.com/title/tt7401588/

Jingle All the Way - 1996
https://www.imdb.com/title/tt0116705/

Along Came a Spider - 2001
https://www.imdb.com/title/tt0164334/

The Knight Before Christmas - 2019
https://www.imdb.com/title/tt10060094/

The Killing of a Sacred Deer - 2017

https://www.imdb.com/title/tt5715874/

High-Rise - 2016
https://www.imdb.com/title/tt9213472/

Wonder Woman 1984 - 2020
https://www.imdb.com/title/tt7126948/

Soul - 2020
https://www.imdb.com/title/tt2948372/

Rise of the Guardians - 2012
https://www.imdb.com/title/tt1446192/

Moana - 2016
https://www.imdb.com/title/tt3521164/

Vivarium - 2019
https://www.imdb.com/title/tt8368406/

The Incredibles - 2004
https://www.imdb.com/title/tt0317705/

The Boy Who Harnessed the Wind - 2019
https://www.imdb.com/title/tt7533152/

Molly's Game - 2017
https://www.imdb.com/title/tt4209788/

Pieces of a Woman - 2020
https://www.imdb.com/title/tt11161474/

Save Yourselves! - 2020
https://www.imdb.com/title/tt7873348/

Chef - 2014
https://www.imdb.com/title/tt2883512/

Jojo Rabbit - 2019
https://www.imdb.com/title/tt2584384/

I, Tonya - 2017
https://www.imdb.com/title/tt5580036/

Thor Ragnarok - 2017
https://www.imdb.com/title/tt3501632/

Thor Ragnarok - 2017
https://www.imdb.com/title/tt3501632/

Thor Ragnarok - 2017
https://www.imdb.com/title/tt3501632/

Thor Ragnarok - 2017
https://www.imdb.com/title/tt3501632/

Oceans 8 - 2018
https://www.imdb.com/title/tt5164214/

Cats - 2019
https://www.imdb.com/title/tt5697572/

Trolls - 2016
https://www.imdb.com/title/tt1679335/

Trolls: World Tour - 2020
https://www.imdb.com/title/tt6587640/

Into the Woods - 2014
https://www.imdb.com/title/tt2180411/

Little Woods - 2019
https://www.imdb.com/title/tt3281548/

The Little Mermaid - 1989
https://www.imdb.com/title/tt0097757/

The Little Mermaid II: Return to the Sea - 2000
https://www.imdb.com/title/tt6314738/

Ice Age - 2002
https://www.imdb.com/title/tt0268380/

Tropic Thunder - 2008
https://www.imdb.com/title/tt0942385/

The Secret Life of Walter Mitty - 2013
https://www.imdb.com/title/tt0359950/

MacGruber - 2010
https://www.imdb.com/title/tt1470023/

Anchorman - 2004
https://www.imdb.com/title/tt0357413/

Minari - 2021
https://www.imdb.com/title/tt2098308/

Wendy - 2020
https://www.imdb.com/title/tt2420124/

Crazy Stupid Love - 2011
https://www.imdb.com/title/tt1570728/

Beasts of the Southern Wild - 2021
https://www.imdb.com/title/tt3008066/

Chaos Walking - 2021
https://www.imdb.com/title/tt2076822/

Rear Window - 1954
https://www.imdb.com/title/tt0047396/

Baby Driver  - 2017
https://www.imdb.com/title/tt3890160/

Captain Fantastic - 2016
https://www.imdb.com/title/tt3553976/

The Nice Guys - 2016
https://www.imdb.com/title/tt3799694/

Sound of Metal - 2020
https://www.imdb.com/title/tt10942440/

Young Adult - 2011
https://www.imdb.com/title/tt1625346/

Captain America: The First Avenger - 2011
https://www.imdb.com/title/tt0458339/

Captain Marvel - 2019
https://www.imdb.com/title/tt4154664/

Iron Man  - 2008
https://www.imdb.com/title/tt0371746/

Invisible Man  - 2020
https://www.imdb.com/title/tt1051906/

Iron Man 2 - 2010
https://www.imdb.com/title/tt1228705/

Thor - 2011
https://www.imdb.com/title/tt0800369/

Marvel's The Avengers - 2012
https://www.imdb.com/title/tt0848228/

Split - 2017
https://www.imdb.com/title/tt0088163/

My Best Friend's Wedding - 1997
https://www.imdb.com/title/tt0119738/

Thor: The Dark World - 2013
https://www.imdb.com/title/tt1981115/

Iron Man 3 - 2013
https://www.imdb.com/title/tt1300854/

Captain America: Winter Soldier  - 2014
https://www.imdb.com/title/tt1843866/

Guardians of the Galaxy - 2014
https://www.imdb.com/title/tt2015381/

Guardians of the Galaxy: Vol 2 - 2017
https://www.imdb.com/title/tt3896198/

Stowaway - 2021
https://www.imdb.com/title/tt9203694/

Ant-Man - 2015
https://www.imdb.com/title/tt0478970/

Spiderman: Homecoming - 2017
https://www.imdb.com/title/tt2250912/

Cloud Atlas - 2012
https://www.imdb.com/title/tt1371111/

The Mitchell's vs the Machines - 2021
https://www.imdb.com/title/tt7979580/

Black Panther - 2018
https://www.imdb.com/title/tt1825683/

Doctor Strange - 2016
https://www.imdb.com/title/tt1211837/

Zathura - 2005
https://www.imdb.com/title/tt0406375/

Ant-Man and the Wasp - 2018
https://www.imdb.com/title/tt5095030/

Avengers: Infinity Wars - 2018
https://www.imdb.com/title/tt4154756/

Avengers: End Game - 2019
https://www.imdb.com/title/tt4154796/

In [59]:
#drop_duplicates
drop_dupes = new_df_2[['Title','Date Seen']].drop_duplicates().index
new_df_2 = new_df_2.loc[new_df_2.index.isin(drop_dupes)]

#export csv
new_df_2.to_csv(r'C:\Users\haedm\Downloads\Movies_DataFilled.csv')

#import saved csv
final_df = pd.read_csv(r'C:\Users\haedm\Downloads\Movies_DataFilled.csv', index_col='Unnamed: 0')
    
#convert string of list to string
col_list = ['Directors_Wiki','Producers_Wiki','Story&ScreenPlayWriters_Wiki','Starring_Wiki',
            'Cinematographers_Wiki','ProductionCo_Wiki','DistributionCo_Wiki','Country_Wiki',
            'Language_Wiki','Starring_IMDB','Genres_IMDB','Countries_IMDB','Languages_IMDB',
            'Directors_IMDB','Writers_IMDB','Producers_IMDB','Cinematographers_IMDB',
            'ProductionCos_IMDB','DistributionCos_IMDB','Company_Plot'
           ]
for i in col_list:
    print(i)
    final_df[i]=[ast.literal_eval(x) for x in final_df[i]]

Directors_Wiki
Producers_Wiki
Story&ScreenPlayWriters_Wiki
Starring_Wiki
Cinematographers_Wiki
ProductionCo_Wiki
DistributionCo_Wiki
Country_Wiki
Language_Wiki
Starring_IMDB
Genres_IMDB
Countries_IMDB
Languages_IMDB
Directors_IMDB
Writers_IMDB
Producers_IMDB
Cinematographers_IMDB
ProductionCos_IMDB
DistributionCos_IMDB
Company_Plot

In [ ]:
### need to change special character letters to their norm letter

In [67]:
#remove special characters and wiki notes
def remove_special_characters_list(column):
    master_list = []
    try:
        for list_names in column:
            temp_list = []
            for name in list_names:
                new_name = re.sub('\(.*?\)', '', name)
                new_name = re.sub('\<.*?\>', '', new_name)
                new_name = re.sub("[^0-9a-zA-Z\. &+-]+", "", new_name)
                new_name = new_name.strip()
                temp_list.append(new_name)
            master_list.append(temp_list)
    except:
        for list_names in column:
            temp_list = []
            new_name = re.sub('\(.*?\)', '', list_names)
            new_name = re.sub('\<.*?\>', '', new_name)
            new_name = re.sub("[^0-9a-zA-Z\. &+-]+", "", new_name)
            new_name = new_name.strip()
            temp_list.append(new_name)
            master_list.append(temp_list)
    return master_list

col_list = ['Directors_Wiki','Producers_Wiki','Story&ScreenPlayWriters_Wiki','Starring_Wiki',
            'Cinematographers_Wiki','ProductionCo_Wiki','DistributionCo_Wiki','Directors_IMDB', 
            'Writers_IMDB','Producers_IMDB','Cinematographers_IMDB','ProductionCos_IMDB',
            'DistributionCos_IMDB','Starring_IMDB'
           ]
for i in col_list:
    print(i)
    final_df[i] = remove_special_characters_list(final_df[i])

Directors_Wiki
Producers_Wiki
Story&ScreenPlayWriters_Wiki
Starring_Wiki
Cinematographers_Wiki
ProductionCo_Wiki
DistributionCo_Wiki
Directors_IMDB
Writers_IMDB
Producers_IMDB
Cinematographers_IMDB
ProductionCos_IMDB
DistributionCos_IMDB
Starring_IMDB

In [69]:
def remove_special_money(column):
    master_list = []
    for item in column:
        new_item = re.sub('\(.*?\)', '', str(item))
        new_item = re.sub('\<.*?\>', '', new_item)
        new_item = re.sub("[^₩$€¥©0-9a-zA-Z\. -–]+", "", new_item)
        new_item = re.sub("US", "", new_item)
        new_item = re.sub("&lt;", "<", new_item)
        new_item = re.sub("&gt;", ">", new_item)
        new_item = new_item.replace(u'\xa0', ' ')
        master_list.append(new_item)
    return master_list

col_list = ['Budget_Wiki','BoxOffice_Wiki','Budget_IMDB','FirstWkendGross_IMDB','WorldWideGross_IMDB']
for i in col_list:
    print(i)
    final_df[i] = remove_special_money(final_df[i])

Budget_Wiki
BoxOffice_Wiki
Budget_IMDB
FirstWkendGross_IMDB
WorldWideGross_IMDB

In [70]:
#splitting names that were combined into one item of list
def remove_morphed_names(column):
    master_list = []
    for list_names in column:
        temp_list = []
        for name in list_names:
            name = re.sub('  ', ' ', name)
            count_spaces = sum(map(lambda x : 1 if ' ' in x else 0, name))  
            if count_spaces in [0,1,2]:
                temp_list.append(name)
            elif count_spaces == 3:
                temp = [x.start() for x in re.finditer(' ', name)]
                name1 = name[0:temp[1]] 
                name2 = name[temp[1] + 1:]
                temp_list.append(name1)
                temp_list.append(name2)
            elif count_spaces == 5:
                temp = [x.start() for x in re.finditer(' ', name)]
                name1 = name[0:temp[1]] 
                name2 = name[temp[1] + 1:temp[3]]
                name3 = name[temp[3] + 1:]
                temp_list.append(name1)
                temp_list.append(name2)
                temp_list.append(name3)
            elif count_spaces == 7:
                temp = [x.start() for x in re.finditer(' ', name)]
                name1 = name[0:temp[1]] 
                name2 = name[temp[1] + 1:temp[3]]
                name3 = name[temp[3] + 1:temp[5]]
                name4 = name[temp[5] + 1:]
                temp_list.append(name1)
                temp_list.append(name2)
                temp_list.append(name3)
                temp_list.append(name4)
            else:
                temp_list.append(name)
        master_list.append(temp_list)
    return(master_list)

col_list = ['Directors_Wiki','Producers_Wiki','Story&ScreenPlayWriters_Wiki','Starring_Wiki','Cinematographers_Wiki']
for i in col_list:
    print(i)
    final_df[i] = remove_morphed_names(final_df[i])

Directors_Wiki
Producers_Wiki
Story&ScreenPlayWriters_Wiki
Starring_Wiki
Cinematographers_Wiki

In [71]:
##Imputing Null Values as average combined with other's score
    ### change this to be imputed based on genre average mixed with other person's scores
final_df['Hayley Rating (Imputed)']=final_df['Hayley Rating']
final_df['Zach Rating (Imputed)']=final_df['Zach Rating']

h_avg = final_df.loc[np.invert(final_df['Hayley Rating'].isna())]['Hayley Rating'].mean()
z_avg = final_df.loc[np.invert(final_df['Zach Rating'].isna())]['Zach Rating'].mean()

for i in final_df.loc[final_df['Hayley Rating'].isna()].index:
#     print(new_df.loc[[i]]['Title'].values[0])
    final_df.loc[[i], 'Hayley Rating (Imputed)'] = round((h_avg + 2*final_df.loc[[i]]['Zach Rating'])/3, 0)
    
for i in final_df.loc[final_df['Zach Rating'].isna()].index:
#     print(new_df.loc[[i]]['Title'].values[0])
    final_df.loc[[i], 'Zach Rating (Imputed)'] = round((h_avg + 2*final_df.loc[[i]]['Hayley Rating'])/3, 0)

In [72]:
first_new_df = final_df.loc[final_df[['Title']].drop_duplicates().index]

In [79]:
all_vars = ['Directors_Wiki','Producers_Wiki','Story&ScreenPlayWriters_Wiki','Starring_Wiki','Cinematographers_Wiki', 
             'ProductionCo_Wiki','DistributionCo_Wiki','Country_Wiki','Language_Wiki','Starring_IMDB','Genres_IMDB',
             'Countries_IMDB','Languages_IMDB','Directors_IMDB','Writers_IMDB','Producers_IMDB','Aspect_IMDB',
             'Cinematographers_IMDB','ProductionCos_IMDB','DistributionCos_IMDB','USFilmRating_IMDB','IMDB_Rating'
            ]
single_vars = ['Aspect_IMDB','USFilmRating_IMDB','IMDB_Rating']

for list_var in all_vars:
    temp = []
    temp_df = pd.DataFrame(columns = ['value', 'count', 'zach_avg_rating', 'hayley_avg_rating'])
    print("\n\n{}".format(list_var))
    if list_var in single_vars:
        for i in first_new_df[list_var]:
            temp.append(i)
    else:
        for i in first_new_df[list_var]:
            for j in i:
                temp.append(j)
    values = pd.Series(temp).value_counts(dropna=False).index
    counts = pd.Series(temp).value_counts(dropna=False).values
    
    Zavg_ratings = []
    Havg_ratings = []
    if list_var in single_vars:
        for i in values:
            z_rating = first_new_df.loc[first_new_df[list_var] == i]['Zach Rating (Imputed)'].mean()
            h_rating = first_new_df.loc[first_new_df[list_var] == i]['Hayley Rating (Imputed)'].mean()
            Zavg_ratings.append(z_rating)
            Havg_ratings.append(h_rating)
    else:
        for i in values:
            z_rating = first_new_df.loc[first_new_df[list_var].apply(lambda x: i in x)]['Zach Rating (Imputed)'].mean()
            h_rating = first_new_df.loc[first_new_df[list_var].apply(lambda x: i in x)]['Hayley Rating (Imputed)'].mean()
            Zavg_ratings.append(z_rating)
            Havg_ratings.append(h_rating)
    
    temp_df['value'] = values
    temp_df['count'] = counts
    temp_df['zach_avg_rating'] = Zavg_ratings
    temp_df['hayley_avg_rating'] = Havg_ratings
    
    temp_df['combined_avg'] = (temp_df['zach_avg_rating'] + temp_df['hayley_avg_rating']) / 2
    temp_df = temp_df.sort_values(by=['combined_avg'], ascending=False)
    
    display(temp_df.loc[temp_df['count'] >= 3])
#     print(pd.Series(temp).value_counts().head(10))

Directors_Wiki

               value  count  zach_avg_rating  hayley_avg_rating  combined_avg
0  Christopher Nolan      6         8.166667           8.333333      8.250000
4          Joe Russo      3         8.666667           6.666667      7.666667
3      Anthony Russo      3         8.666667           6.666667      7.666667
2       Ron Clements      3         7.000000           6.666667      6.833333
1        Jon Favreau      4         7.000000           6.000000      6.500000

Producers_Wiki

                value  count  zach_avg_rating  hayley_avg_rating  combined_avg
3   Christopher Nolan      5         8.400000           8.600000      8.500000
2         Emma Thomas      6         8.166667           8.333333      8.250000
15         Amy Pascal      3         8.333333           7.666667      8.000000
6       Charles Roven      4         7.500000           7.250000      7.375000
11           A.J. Dix      3         7.333333           7.333333      7.333333
14          Beth Kono      3         7.333333           7.333333      7.333333
10    Charlize Theron      3         7.333333           7.333333      7.333333
13      Nina Jacobson      3         7.333333           7.000000      7.166667
9           Jon Kilik      3         7.333333           7.000000      7.166667
1          Jason Blum      7         6.857143           7.000000      6.928571
0         Kevin Feige     19         7.210526           6.263158      6.736842
12       John Goldwyn      3         6.666667           6.666667      6.666667
5         Scott Rudin      4         7.000000           5.750000      6.375000
7          Marc Platt      4         6.500000           6.250000      6.375000
8           Tim Bevan      4         5.250000           6.000000      5.625000
4        Eric Fellner      4         5.250000           6.000000      5.625000

Story&ScreenPlayWriters_Wiki

,value,count,zach_avg_rating,hayley_avg_rating,combined_avg
9,Jonathan Nolan,3,8.333333,8.666667,8.500
8,Jared Bush,3,8.500000,8.000000,8.250
0,Christopher Nolan,6,8.000000,8.250000,8.125
5,David S. Goyer,3,8.000000,8.000000,8.000
10,Scott Rosenberg,3,8.000000,7.500000,7.750
13,Jeff Pinkner,3,8.000000,7.500000,7.750
14,John Francis Daley,3,8.000000,7.000000,7.500
6,Jonathan Goldstein,3,8.000000,7.000000,7.500
7,Edgar Wright,3,7.000000,7.000000,7.000
4,Jonathan Aibel,3,6.500000,7.000000,6.750
3,Glenn Berger,3,6.500000,7.000000,6.750
1,Christopher Markus,5,7.200000,5.800000,6.500
2,Stephen McFeely,5,7.200000,5.800000,6.500
11,Andrew Stanton,3,5.500000,6.000000,5.750
12,Justin Theroux,3,6.500000,5.000000,5.750

Starring_Wiki

,value,count,zach_avg_rating,hayley_avg_rating,combined_avg
73,Benedict Cumberbatch,3,9.333333,8.000000,8.666667
71,Tom Hardy,3,9.000000,8.333333,8.666667
36,J. K. Simmons,3,8.666667,8.333333,8.500000
33,Danai Gurira,3,9.333333,7.666667,8.500000
24,Chris Pratt,4,8.500000,8.250000,8.375000
37,Bradley Cooper,3,8.666667,8.000000,8.333333
59,Zoe Saldana,3,8.666667,8.000000,8.333333
54,Dave Bautista,3,8.666667,8.000000,8.333333
19,Mark Ruffalo,4,9.000000,7.500000,8.250000
4,Michael Caine,6,8.166667,8.333333,8.250000
32,Jason Schwartzman,3,8.333333,8.000000,8.166667
1,Scarlett Johansson,8,8.750000,7.250000,8.000000
39,Gary Oldman,3,8.000000,8.000000,8.000000
42,Christian Bale,3,8.000000,8.000000,8.000000
44,Alan Tudyk,3,8.000000,8.000000,8.000000
58,Dwayne Johnson,3,8.000000,7.333333,7.666667
20,Paul Rudd,4,8.000000,7.250000,7.625000
8,Tom Holland,5,8.000000,7.200000,7.600000
38,Tilda Swinton,3,8.000000,7.000000,7.500000
28,Bobby Cannavale,4,7.750000,7.250000,7.500000
74,Jamie Foxx,3,7.333333,7.666667,7.500000
68,Bill Murray,3,8.000000,7.000000,7.500000
2,Chris Evans,8,8.125000,6.750000,7.437500
17,Joseph Gordon-Levitt,4,7.500000,7.250000,7.375000
16,Jon Favreau,4,8.250000,6.500000,7.375000
30,Anne Hathaway,4,7.250000,7.500000,7.375000
21,Jessica Chastain,4,7.000000,7.750000,7.375000
62,Jeremy Strong,3,7.000000,7.666667,7.333333
80,Elisabeth Moss,3,7.666667,7.000000,7.333333
49,Awkwafina,3,7.333333,7.333333,7.333333
...,...,...,...,...,...
66,Anthony Mackie,3,7.333333,6.333333,6.833333
13,Stanley Tucci,5,7.000000,6.600000,6.800000
10,Gwyneth Paltrow,5,7.800000,5.800000,6.800000
45,Bill Hader,3,6.666667,6.666667,6.666667
69,Ryan Gosling,3,6.666667,6.666667,6.666667
50,Danny McBride,3,7.000000,6.333333,6.666667
9,Sebastian Stan,5,7.200000,6.000000,6.600000
25,Josh Hutcherson,4,6.500000,6.500000,6.500000
31,Rachel McAdams,4,6.250000,6.750000,6.500000
79,Helena Bonham Carter,3,6.666667,6.333333,6.500000
64,Michael Rooker,3,6.333333,6.666667,6.500000
56,Jack Black,3,7.000000,6.000000,6.500000
3,Anna Kendrick,7,6.428571,6.571429,6.500000
12,Samuel L. Jackson,5,7.000000,5.800000,6.400000
72,Maya Rudolph,3,6.333333,6.333333,6.333333
57,Chris Pine,3,6.333333,6.000000,6.166667
18,Will Ferrell,4,6.000000,6.250000,6.125000
52,John Gallagher Jr.,3,6.000000,6.000000,6.000000
40,Anthony Hopkins,3,5.666667,6.000000,5.833333
51,Michael Pea,3,5.666667,6.000000,5.833333
43,Kristen Wiig,3,6.000000,5.666667,5.833333
75,Colin Farrell,3,5.666667,6.000000,5.833333
6,Idris Elba,6,5.500000,5.833333,5.666667
76,Stellan Skarsgrd,3,5.666667,5.333333,5.500000
61,Rebel Wilson,3,5.333333,5.666667,5.500000
14,Tom Hiddleston,5,5.600000,5.200000,5.400000
34,Harrison Ford,3,6.000000,4.666667,5.333333
65,Jude Law,3,5.000000,5.333333,5.166667
29,James Corden,4,5.000000,5.250000,5.125000
47,Kristen Stewart,3,3.333333,4.666667,4.000000

Cinematographers_Wiki

               value  count  zach_avg_rating  hayley_avg_rating  combined_avg
0      Wally Pfister      4         8.250000           8.000000      8.125000
4      Trent Opaloch      3         8.666667           6.666667      7.666667
1  Matthew Libatique      4         7.750000           6.750000      7.250000
2          Ben Davis      3         7.000000           6.666667      6.833333
3          John Toll      3         5.333333           4.333333      4.833333

ProductionCo_Wiki

,value,count,zach_avg_rating,hayley_avg_rating,combined_avg
5,Syncopy,6,8.166667,8.333333,8.250000
20,Regency Enterprises,3,8.333333,8.000000,8.166667
8,Legendary Pictures,6,7.833333,7.666667,7.750000
2,Warner Bros. Pictures,8,7.375000,7.500000,7.437500
10,New Line Cinema,4,7.250000,7.500000,7.375000
17,Paramount Pictures,3,7.000000,7.666667,7.333333
22,Fox 2000 Pictures,3,7.000000,7.666667,7.333333
6,Pixar Animation Studios,6,7.000000,7.500000,7.250000
7,Blumhouse Productions,6,7.000000,7.333333,7.166667
14,Color Force,3,7.333333,7.000000,7.166667
9,DreamWorks Pictures,5,7.200000,7.000000,7.100000
15,DC Films,3,7.000000,7.000000,7.000000
1,Walt Disney Pictures,16,6.812500,7.125000,6.968750
21,Bron Studios,3,7.000000,6.666667,6.833333
13,DreamWorks Animation,3,6.666667,7.000000,6.833333
0,Marvel Studios,19,7.210526,6.263158,6.736842
12,Marc Platt Productions,4,6.500000,6.250000,6.375000
3,Columbia Pictures,8,6.250000,6.250000,6.250000
4,TSG Entertainment,7,6.142857,6.285714,6.214286
18,TriStar Pictures,3,6.000000,6.333333,6.166667
11,Working Title Films,4,5.250000,6.000000,5.625000
16,Film4,3,5.000000,4.333333,4.666667
19,Amblin Entertainment,3,4.333333,4.666667,4.500000
23,A24,3,4.666667,3.666667,4.166667

DistributionCo_Wiki

,value,count,zach_avg_rating,hayley_avg_rating,combined_avg
10,A24,4,8.250000,8.000000,8.125000
4,Warner Bros. Pictures,12,7.333333,7.666667,7.500000
7,Lionsgate,9,7.444444,7.222222,7.333333
3,Universal Pictures,15,6.800000,7.000000,6.900000
8,Neon,5,7.400000,6.400000,6.900000
5,20th Century Fox,12,6.916667,6.833333,6.875000
0,Walt Disney Studios Motion Pictures,27,6.962963,6.740741,6.851852
11,Buena Vista Pictures Distribution,3,6.333333,6.666667,6.500000
2,Paramount Pictures,19,6.684211,6.210526,6.447368
1,Netflix,19,6.263158,6.526316,6.394737
6,Sony Pictures Releasing,10,6.100000,6.300000,6.200000
9,Buena Vista Pictures,4,6.000000,6.250000,6.125000

Country_Wiki

Empty DataFrame
Columns: [value, count, zach_avg_rating, hayley_avg_rating, combined_avg]
Index: []

Language_Wiki

     value  count  zach_avg_rating  hayley_avg_rating  combined_avg
0  English      5              7.8                8.2           8.0

Starring_IMDB

,value,count,zach_avg_rating,hayley_avg_rating,combined_avg
115,Brad Bird,3,8.666667,8.333333,8.500000
110,J.K. Simmons,3,8.666667,8.333333,8.500000
108,Chadwick Boseman,3,9.333333,7.666667,8.500000
35,Zoe Saldana,4,9.000000,8.000000,8.500000
87,Lou Romano,3,8.666667,8.333333,8.500000
27,Benedict Cumberbatch,4,9.000000,7.750000,8.375000
12,Michael Caine,6,8.166667,8.333333,8.250000
38,Teddy Newton,4,8.250000,8.250000,8.250000
96,Will Arnett,3,8.333333,8.000000,8.166667
57,Lois Smith,3,8.333333,8.000000,8.166667
98,Jason Schwartzman,3,8.333333,8.000000,8.166667
116,Chris Pratt,3,8.000000,8.333333,8.166667
99,Angourie Rice,3,8.666667,7.666667,8.166667
17,Mark Ruffalo,5,8.600000,7.600000,8.100000
119,Gary Oldman,3,8.000000,8.000000,8.000000
105,Christian Bale,3,8.000000,8.000000,8.000000
32,Steve Carell,4,8.000000,8.000000,8.000000
125,Jason Bateman,3,8.000000,8.000000,8.000000
132,Chris Parnell,3,8.000000,8.000000,8.000000
142,John Carroll Lynch,3,8.000000,8.000000,8.000000
1,Scarlett Johansson,9,8.555556,7.333333,7.944444
18,Kathryn Hahn,5,8.000000,7.800000,7.900000
101,Hailee Steinfeld,3,8.333333,7.333333,7.833333
60,Jeremy Renner,3,8.333333,7.333333,7.833333
118,Seth Rogen,3,8.000000,7.666667,7.833333
135,Fred Willard,3,7.666667,8.000000,7.833333
11,Paul Rudd,6,8.000000,7.666667,7.833333
128,Chiwetel Ejiofor,3,8.000000,7.666667,7.833333
6,Tom Holland,7,8.142857,7.428571,7.785714
61,Emma Stone,3,7.666667,7.666667,7.666667
...,...,...,...,...,...
78,Tina Fey,3,6.000000,5.666667,5.833333
68,Ray Stevenson,3,5.666667,6.000000,5.833333
58,Michael Pea,3,5.666667,6.000000,5.833333
73,Anthony Hopkins,3,5.666667,6.000000,5.833333
37,Jeff Wolfe,4,5.750000,5.750000,5.750000
81,Hayley Atwell,3,6.000000,5.333333,5.666667
113,Will Forte,3,6.000000,5.333333,5.666667
112,Martin Short,3,5.333333,6.000000,5.666667
42,Jude Law,4,5.500000,5.750000,5.625000
107,Denis OHare,3,6.000000,5.000000,5.500000
109,Holly Hunter,3,5.333333,5.666667,5.500000
92,Dax Shepard,3,5.666667,5.333333,5.500000
50,Bill Camp,4,5.500000,5.500000,5.500000
62,Joaquin Phoenix,3,5.333333,5.666667,5.500000
67,Rebel Wilson,3,5.333333,5.666667,5.500000
29,Joe Bucaro III,4,5.000000,5.750000,5.375000
133,Whoopi Goldberg,3,5.000000,5.666667,5.333333
56,Harrison Ford,3,6.000000,4.666667,5.333333
80,Ginnifer Goodwin,3,5.000000,5.333333,5.166667
82,John C. Reilly,3,5.000000,5.333333,5.166667
100,Rynosuke Kamiki,3,5.333333,5.000000,5.166667
94,Jack Angel,3,5.000000,5.333333,5.166667
21,Kristen Wiig,5,5.000000,5.000000,5.000000
136,Colin Farrell,3,4.666667,4.333333,4.500000
45,Ryan Phillippe,4,4.250000,4.750000,4.500000
97,Reese Witherspoon,3,4.000000,4.666667,4.333333
138,Tim Robbins,3,3.666667,4.333333,4.000000
111,Kristen Stewart,3,3.333333,4.666667,4.000000
86,Nicole Kidman,3,4.000000,4.000000,4.000000
75,Albert Brooks,3,3.666667,4.000000,3.833333

Genres_IMDB

          value  count  zach_avg_rating  hayley_avg_rating  combined_avg
19          War      3         8.666667           7.666667      8.166667
18        Sport      6         8.166667           7.500000      7.833333
4        Sci-Fi     47         7.340426           6.702128      7.021277
17      History      6         6.666667           7.166667      6.916667
1        Comedy     83         6.879518           6.879518      6.879518
11    Animation     24         6.791667           6.916667      6.854167
10        Crime     24         6.916667           6.791667      6.854167
5      Thriller     46         6.956522           6.673913      6.815217
3        Action     61         7.032787           6.540984      6.786885
2     Adventure     70         6.928571           6.585714      6.757143
12       Horror     15         6.866667           6.333333      6.600000
0         Drama     83         6.566265           6.542169      6.554217
9       Mystery     25         6.680000           6.320000      6.500000
16        Music      8         6.500000           6.375000      6.437500
8        Family     31         6.322581           6.451613      6.387097
13    Biography     12         6.250000           6.416667      6.333333
7       Romance     34         6.147059           6.500000      6.323529
14  Documentary     10         6.000000           6.400000      6.200000
6       Fantasy     41         6.097561           6.073171      6.085366
15      Musical      9         5.666667           6.111111      5.888889

Countries_IMDB

             value  count  zach_avg_rating  hayley_avg_rating  combined_avg
11           India      3         7.666667           7.666667      7.666667
8           France      5         7.000000           7.000000      7.000000
3            China      8         7.000000           6.875000      6.937500
2           Canada     25         7.080000           6.760000      6.920000
1   United Kingdom     32         6.937500           6.781250      6.859375
7            Spain      5         6.800000           6.800000      6.800000
6        Australia      7         6.857143           6.714286      6.785714
0    United States    184         6.711957           6.576087      6.644022
10       Hong Kong      4         7.000000           6.250000      6.625000
5          Germany      7         6.571429           6.142857      6.357143
4            Japan      7         6.142857           6.142857      6.142857
9          Ireland      4         4.000000           3.500000      3.750000

Languages_IMDB

,value,count,zach_avg_rating,hayley_avg_rating,combined_avg
12,American Sign Language,3,7.333333,8.000000,7.666667
10,Mandarin,5,7.600000,7.400000,7.500000
3,German,13,7.769231,6.923077,7.346154
7,Italian,7,7.428571,6.857143,7.142857
4,Japanese,10,7.600000,6.600000,7.100000
2,Spanish,15,7.066667,7.066667,7.066667
11,Swedish,4,7.500000,6.500000,7.000000
6,Hindi,9,6.777778,7.000000,6.888889
0,English,188,6.755319,6.595745,6.675532
9,Korean,6,7.000000,6.333333,6.666667
1,French,38,6.710526,6.394737,6.552632
8,Arabic,7,6.571429,6.285714,6.428571
5,Russian,10,6.400000,6.200000,6.300000

Directors_IMDB

               value  count  zach_avg_rating  hayley_avg_rating  combined_avg
7          Brad Bird      3         8.666667           8.333333      8.500000
0  Christopher Nolan      6         8.166667           8.333333      8.250000
5          Joe Russo      3         8.666667           6.666667      7.666667
6      Anthony Russo      3         8.666667           6.666667      7.666667
4        Shane Black      3         8.000000           7.000000      7.500000
2        Jon Favreau      4         7.000000           6.000000      6.500000
3        John Musker      4         6.000000           6.000000      6.000000
1       Ron Clements      4         6.000000           6.000000      6.000000

Writers_IMDB

,value,count,zach_avg_rating,hayley_avg_rating,combined_avg
9,Leigh Whannell,4,10.000000,9.500000,9.750000
5,Brad Bird,5,8.666667,8.333333,8.500000
15,Bong Joon Ho,4,9.000000,8.000000,8.500000
20,Jonathan Nolan,3,8.333333,8.666667,8.500000
8,Bob Kane,4,8.250000,8.250000,8.250000
0,Christopher Nolan,8,8.166667,8.333333,8.250000
12,David S. Goyer,4,8.000000,8.000000,8.000000
13,Edgar Wright,4,7.666667,7.666667,7.666667
21,Shane Black,3,8.000000,7.000000,7.500000
16,Adam McKay,3,7.333333,7.666667,7.500000
1,Stan Lee,8,8.125000,6.625000,7.375000
26,Will Ferrell,3,7.333333,7.333333,7.333333
14,Joss Whedon,4,7.500000,7.000000,7.250000
6,Suzanne Collins,5,7.333333,7.000000,7.166667
10,Joe Simon,4,8.000000,6.250000,7.125000
2,Jack Kirby,6,7.833333,6.166667,7.000000
19,Christina Hodson,3,7.000000,6.666667,6.833333
23,Gary Ross,3,7.000000,6.500000,6.750000
18,Charles Shyer,3,6.333333,7.000000,6.666667
24,Nancy Meyers,3,6.333333,7.000000,6.666667
27,Pete Docter,3,6.000000,7.000000,6.500000
3,Christopher Markus,5,7.200000,5.800000,6.500000
4,Stephen McFeely,5,7.200000,5.800000,6.500000
22,Larry Lieber,3,7.000000,5.666667,6.333333
7,Ron Clements,5,6.000000,6.000000,6.000000
11,John Musker,4,6.000000,6.000000,6.000000
25,Andrew Stanton,3,5.500000,6.000000,5.750000
17,Justin Theroux,3,6.500000,5.000000,5.750000

Producers_IMDB

,value,count,zach_avg_rating,hayley_avg_rating,combined_avg
36,Christopher Nolan,3,8.333333,8.666667,8.500000
18,Peter Hampden,3,8.666667,8.333333,8.500000
39,Jordan Goldberg,3,8.666667,8.333333,8.500000
4,John Lasseter,7,8.142857,8.142857,8.142857
16,Benjamin Melniker,3,8.000000,8.000000,8.000000
20,Judd Apatow,3,8.000000,8.000000,8.000000
26,Shauna Robertson,3,8.000000,8.000000,8.000000
31,Avi Arad,3,8.666667,7.000000,7.833333
37,Joseph Drake,3,7.666667,7.666667,7.666667
22,Chris Brigham,3,8.000000,7.000000,7.500000
9,Jason Cloth,5,7.600000,7.200000,7.400000
34,A.J. Dix,3,7.333333,7.333333,7.333333
28,David B. Householter,3,7.333333,7.333333,7.333333
6,Jon Favreau,6,8.000000,6.500000,7.250000
17,T.K. Knowles,3,7.333333,7.000000,7.166667
25,Suzanne Collins,3,7.333333,7.000000,7.166667
23,Denise Di Novi,3,7.000000,7.000000,7.000000
30,Arnon Milchan,3,7.000000,7.000000,7.000000
3,Mitchell Bell,7,7.714286,6.000000,6.857143
5,David J. Grant,7,6.857143,6.857143,6.857143
7,Jason Blum,6,6.833333,6.833333,6.833333
1,Victoria Alonso,20,7.200000,6.350000,6.775000
0,Louis DEsposito,21,7.047619,6.285714,6.666667
24,Jill Sobel Messick,3,7.000000,6.333333,6.666667
19,Bruce A. Block,3,6.333333,7.000000,6.666667
8,Alan Fine,6,6.666667,6.500000,6.583333
2,Kevin Feige,15,6.800000,6.333333,6.566667
10,John Goldwyn,5,6.600000,6.200000,6.400000
12,Stephen Broussard,4,7.000000,5.750000,6.375000
11,Erin David,4,6.500000,6.000000,6.250000
38,Leslie Berriman,3,5.333333,6.333333,5.833333
21,Eli Bush,3,6.333333,5.333333,5.833333
35,Nancy Blachman,3,5.333333,6.333333,5.833333
32,Maureen Donley,3,5.333333,6.000000,5.666667
15,Liza Chasin,3,5.333333,6.000000,5.666667
27,Ryan Kavanaugh,3,6.000000,5.333333,5.666667
13,Tim Bevan,4,5.250000,6.000000,5.625000
14,Eric Fellner,4,5.250000,6.000000,5.625000
29,John Musker,3,5.000000,5.333333,5.166667
33,Daniel Battsek,3,5.000000,4.333333,4.666667

Aspect_IMDB

       value  count  zach_avg_rating  hayley_avg_rating  combined_avg
4   1.33 : 1      6         8.333333           7.833333      8.083333
12  1.37 : 1      3         8.000000           8.000000      8.000000
6   1.43 : 1      6         7.833333           8.000000      7.916667
3   1.90 : 1     11         8.272727           7.363636      7.818182
1   1.85 : 1     54         6.907407           6.685185      6.796296
8     2.39:1      5         6.800000           6.600000      6.700000
11  2.20 : 1      4         7.500000           5.750000      6.625000
7   1.78 : 1      5         6.200000           7.000000      6.600000
0   2.39 : 1     60         6.650000           6.533333      6.591667
9   1.66 : 1      5         5.800000           6.200000      6.000000
2   2.35 : 1     21         5.952381           6.000000      5.976190
5   2.00 : 1      6         5.000000           4.666667      4.833333
10       NaN      5              NaN                NaN           NaN

Cinematographers_IMDB

               value  count  zach_avg_rating  hayley_avg_rating  combined_avg
0      Wally Pfister      4         8.250000           8.000000      8.125000
5        Andrew Dunn      3         8.000000           8.000000      8.000000
2      Trent Opaloch      3         8.666667           6.666667      7.666667
1          Ben Davis      3         7.000000           6.666667      6.833333
4  Matthew Libatique      3         7.000000           6.000000      6.500000
3          John Toll      3         5.333333           4.333333      4.833333

ProductionCos_IMDB

,value,count,zach_avg_rating,hayley_avg_rating,combined_avg
42,The New South Wales Government,3,9.333333,8.333333,8.833333
30,Government of Australia,4,9.000000,8.250000,8.625000
13,Syncopy,6,8.166667,8.333333,8.250000
48,Silver Pictures,3,8.666667,7.666667,8.166667
14,Universal Pictures,6,8.166667,8.166667,8.166667
35,Apatow Productions,3,8.000000,8.000000,8.000000
11,Legendary Entertainment,6,7.833333,7.666667,7.750000
16,DC Comics,5,7.800000,7.600000,7.700000
45,Reliance Entertainment,3,7.666667,7.666667,7.666667
24,Fox Searchlight Pictures,4,7.750000,7.500000,7.625000
39,Artemis Rising Foundation,3,7.333333,7.666667,7.500000
17,Creative Wealth Media Finance,5,7.600000,7.200000,7.400000
19,BRON Studios,5,7.600000,7.200000,7.400000
29,New Regency Productions,4,7.500000,7.250000,7.375000
3,Warner Bros.,16,7.500000,7.187500,7.343750
36,Fox 2000 Pictures,3,7.000000,7.666667,7.333333
15,Lionsgate,6,7.333333,7.333333,7.333333
8,Pixar Animation Studios,7,7.142857,7.428571,7.285714
33,Pascal Pictures,4,7.500000,7.000000,7.250000
49,Color Force,3,7.333333,7.000000,7.166667
51,New Line Cinema,3,7.000000,7.333333,7.166667
50,Fairview Entertainment,3,8.000000,6.333333,7.166667
7,Dreamworks Pictures,8,7.125000,7.125000,7.125000
34,Denver and Delilah Productions,4,7.250000,6.750000,7.000000
20,Canadian Film or Video Production Tax Credit,5,7.400000,6.600000,7.000000
0,Walt Disney Pictures,30,6.966667,6.866667,6.916667
44,DreamWorks Animation,3,6.666667,7.000000,6.833333
41,Participant,3,6.666667,7.000000,6.833333
12,Blumhouse Productions,6,6.833333,6.833333,6.833333
1,Marvel Studios,20,7.200000,6.350000,6.775000
21,Marc Platt Productions,5,6.800000,6.600000,6.700000
47,Scott Rudin Productions,3,7.666667,5.666667,6.666667
40,DC Entertainment,3,6.666667,6.666667,6.666667
9,Netflix,7,6.571429,6.714286,6.642857
6,TSG Entertainment,8,6.625000,6.625000,6.625000
10,Walt Disney Animation Studios,6,6.500000,6.666667,6.583333
2,Paramount Pictures,20,6.600000,6.250000,6.425000
5,Twentieth Century Fox,10,6.500000,6.200000,6.350000
46,Touchwood Pacific Partners 1,3,6.000000,6.666667,6.333333
4,Columbia Pictures,11,6.454545,6.181818,6.318182
22,Marvel Entertainment,5,6.800000,5.800000,6.300000
25,Broadway Video,4,6.500000,6.000000,6.250000
31,Michaels Goldwyn,4,6.500000,6.000000,6.250000
37,TriStar Pictures,3,6.000000,6.333333,6.166667
23,Relativity Media,4,6.500000,5.750000,6.125000
26,Province of British Columbia Production Servic...,4,6.500000,5.750000,6.125000
32,Dentsu,4,6.250000,5.750000,6.000000
38,Touchstone Pictures,3,5.333333,6.333333,5.833333
27,Working Title Films,4,5.250000,6.000000,5.625000
28,Film4,4,5.750000,4.750000,5.250000
18,A24,5,5.400000,4.000000,4.700000
43,Amblin Entertainment,3,4.333333,4.666667,4.500000

DistributionCos_IMDB

,value,count,zach_avg_rating,hayley_avg_rating,combined_avg
341,Impact Films,3,9.666667,8.666667,9.166667
322,Gutek Film,3,9.666667,8.666667,9.166667
285,Entertainment Film Distributors,3,9.333333,8.333333,8.833333
318,Lenta,3,9.000000,8.666667,8.833333
319,Leone Film Group,3,9.000000,8.666667,8.833333
293,Fox Searchlight Pictures,3,9.000000,8.333333,8.666667
310,Provzglyad,3,9.000000,8.333333,8.666667
328,Seven Films,3,8.666667,8.333333,8.500000
223,Neon,5,8.800000,8.200000,8.500000
135,The Criterion Collection,7,8.857143,8.000000,8.428571
186,TriPictures,5,8.400000,8.400000,8.400000
247,Buena Vista International Mexico,4,8.500000,8.250000,8.375000
358,Transeuropa Video Entertainment,3,8.333333,8.333333,8.333333
308,CGV Mars Dagitim,3,8.000000,8.666667,8.333333
254,The Searchers,4,8.500000,8.000000,8.250000
357,Sandrew Metronome Distribution Sverige AB,3,8.333333,8.000000,8.166667
378,Walt Disney Studios Motion Pictures Germany,3,8.000000,8.333333,8.166667
312,La Aventura,3,8.666667,7.666667,8.166667
255,Slovo Filma,4,8.000000,8.250000,8.125000
149,Sam Film,6,8.333333,7.833333,8.083333
131,Columbia TriStar Warner Filmes de Portugal,7,8.142857,8.000000,8.071429
127,Forum Film Slovakia,8,8.125000,8.000000,8.062500
276,Paramount British Pictures,4,8.500000,7.500000,8.000000
287,Golden Screen Cinemas,3,8.333333,7.666667,8.000000
274,Film AB Paramount,4,8.500000,7.500000,8.000000
325,Rajawali Citra Televisi Indonesia,3,8.000000,8.000000,8.000000
250,Les Films Paramount,4,8.500000,7.500000,8.000000
356,RCTI,3,8.000000,8.000000,8.000000
346,Movie Cloud,3,7.666667,8.333333,8.000000
335,Paramount Films,3,8.666667,7.333333,8.000000
...,...,...,...,...,...
348,France 2,3,6.333333,5.000000,5.666667
233,British Broadcasting Corporation,4,5.250000,6.000000,5.625000
164,A24,6,6.166667,5.000000,5.583333
159,Elevation Pictures,6,5.833333,5.166667,5.500000
214,Moviemax Family,5,5.200000,5.800000,5.500000
320,Sega Sammy Entertainment,3,6.000000,5.000000,5.500000
230,Home Video Hellas,4,5.750000,5.250000,5.500000
299,VideoVisa,3,5.666667,5.333333,5.500000
363,Hero,3,5.666667,5.333333,5.500000
291,Paramount Pictures UK,3,5.666667,5.333333,5.500000
290,Energa Entusiasta,3,5.666667,5.333333,5.500000
351,Fox Video,3,6.333333,4.666667,5.500000
241,Columbia TriStar Films,4,5.750000,5.000000,5.375000
324,Twentieth Century Fox Film Company,3,5.666667,5.000000,5.333333
362,Walt Disney Studios,3,5.666667,5.000000,5.333333
317,Nu Metro Home Entertainment,3,5.333333,5.333333,5.333333
266,Thimfilm Filmverleih,4,5.750000,4.750000,5.250000
313,Walt Disney Home Entertainment,3,5.333333,5.000000,5.166667
315,GKIDS,3,5.333333,5.000000,5.166667
307,Shout Factory,3,5.333333,5.000000,5.166667
253,Galaxy Distributors,4,5.250000,5.000000,5.125000
366,Paramount Films de Espaa,3,5.000000,5.000000,5.000000
243,Elliniki Kinimatografiki Enosi,4,5.250000,4.750000,5.000000
181,VUDU,6,4.666667,5.333333,5.000000
323,Alamode Film,3,5.000000,4.666667,4.833333
367,Anticipate Pictures,3,5.000000,4.666667,4.833333
377,Egmont Film,3,4.666667,4.666667,4.666667
306,Hollydan Works,3,4.666667,4.666667,4.666667
331,Fabula Films,3,4.666667,4.000000,4.333333
344,Vertigo Mdia Kft.,3,4.666667,4.000000,4.333333

USFilmRating_IMDB

       value  count  zach_avg_rating  hayley_avg_rating  combined_avg
1          R     57         7.210526           6.771930      6.991228
0      PG-13     74         6.810811           6.662162      6.736486
2         PG     36         6.444444           6.527778      6.486111
3          G      7         6.285714           6.571429      6.428571
5      TV-MA      3         6.666667           6.000000      6.333333
4  Not Rated      4         4.750000           4.750000      4.750000

IMDB_Rating

    value  count  zach_avg_rating  hayley_avg_rating  combined_avg
14    8.4      6         9.000000           8.333333      8.666667
10    7.9      7         8.714286           8.285714      8.500000
18    8.2      4         8.250000           7.250000      7.750000
2     7.1     13         7.923077           7.230769      7.576923
0     8.0     13         7.846154           7.230769      7.538462
11    8.1      6         7.500000           7.500000      7.500000
24    8.5      3         7.333333           7.666667      7.500000
20    8.6      4         7.750000           7.000000      7.375000
17    6.7      4         7.250000           7.250000      7.250000
3     7.4     12         7.416667           7.083333      7.250000
13    7.2      6         6.833333           6.833333      6.833333
8     7.3      8         6.625000           7.000000      6.812500
5     6.8      9         6.888889           6.555556      6.722222
4     7.5     10         6.700000           6.700000      6.700000
1     7.6     13         6.461538           6.846154      6.653846
9     7.8      7         6.428571           6.571429      6.500000
6     6.5      9         6.000000           6.555556      6.277778
23    6.3      3         6.333333           6.000000      6.166667
19    5.8      4         6.250000           5.500000      5.875000
22    6.4      3         5.666667           6.000000      5.833333
12    6.9      6         5.833333           5.666667      5.750000
15    6.6      5         5.600000           5.800000      5.700000
21    7.7      4         5.500000           5.250000      5.375000
7     7.0      8         5.625000           5.125000      5.375000
16    5.7      4         4.500000           4.750000      4.625000